@charset 'UTF-8';

.articles
{
	margin-top:5px;
	padding:20px;
	font-family:'Montserrat-Regular',sans-serif;
	color:#8e8e8e;
}

.articles p
{
	line-height:2.3em;
	font-family:'Montserrat-Regular',sans-serif;
	color:#8e8e8e;
	text-align:justify;
}

.aside
{
	font-family:'Montserrat-Regular',sans-serif;
	text-transform:uppercase;
	padding:20px;
	margin-top:5px;
	color:#8e8e8e;
	font-size:17px;
}

#container-style 
{
	margin: -55px -30px -30px;
	max-height:765px;
	overflow:hidden;
	max-width:none;
	height:100%;
	//width:100%;
}

#container-style > img
{

	height:auto;
	width:auto;	
}

#jumbotron-style > #container-style
{
	padding:25px 0px 40px 0px;
	//height:auto;
}

#jumbotron-style > img
{
	//width:auto;
	height:auto;
}

.articles b
{
	text-transform:uppercase;
	color:#58c9fa;
}

#author-article h4
{
	padding:5px;
	color:#8e8e8e;
	font-family:'Montserrat-Regular',sans-serif;
}

#avatar img
{
	border-radius:75px;
}

#author-information 
{
	display:table-cell;
	vertical-align:top;
}

#author-photo
{
	display:table-cell;
	vertical-align:top;
}

#media 
{
	padding-top:20px;
	margin-bottom:20px;
}

.author-name 
{
	font-family:'Montserrat-Regular',sans-serif;
	color:#8e8e8e;
	margin-top:0;
	margin-bottom:0;
}

.author-desc 
{
	margin-top:8px;
	font-family:'Montserrat-Regular',sans-serif;
	color:#8e8e8e;
	font-style:italic;
}

#media , #author-information
{
	display:table-cell;
	vertical-align:top:;
}

#sidebar-content ul
{
	list-style:none;
	padding:0px 20px 20px 20px;
}

#sidebar-content li 
{
	background:#EFEFEF;
	//padding:0px;
	margin-top:15px;
	position:relative;
	height:150px;
}

#media-left 
{
	position:relative;
	background: rgba(0,0,0,0.5);
	padding-left:0px;
	top:30%;
	height:auto;
	width:80%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	left:0;
	border-bottom:5px solid rgb(244,244,244);
}

#media-left , #number a,#number-1 a , #number-2 a , #article-title a
{
	text-decoration:none;
	font-family:'Montserrat-Regular',sans-serif;
	color:#F4F4F4;
	text-transform:uppercase;
}

#number
{
	background:#2A9DD2;
	width:7%;
}

#number a  
{
	margin-left:7px;
}

#number-1
{
	background:#800A13;
	width:7%;
}

#number-1 a  
{
	margin-left:5px;
}


#number-2
{
	background:#FFC86E;
	width:7%;
}

#number-2 a  
{
	margin-left:5px;
}

#article-title
{
	margin-left:5px;
	margin-bottom:5px;
}

#social-media 
{
	padding:0px 15px 15px 20px;
}

#follow
{
	text-transform:uppercase;
	font-family:'Montserrat-Regular',sans-serif;
	color:#8e8e8e;
	font-size:17px;
}

#best-tutor-title
{
	font-size:15px;
}

#best-tutor-title a
{
	text-decoration:none;
	text-transform:uppercase;
	color:#8e8e8e;
	font-family:'Montserrat-Regular',sans-serif;
}

#best-tutor-title a:hover
{
	color:#797777;
}

#tutor-demo
{
	text-transform:uppercase;
	margin-top:5px;
}

#tutor-demo a
{
	text-decoration:none;
	color:#8e8e8e;
	font-family:'Montserrat-Regular',sans-serif;
}

#tutor-demo a:hover
{
	color:#797777;
}
